
	#out{
		width: 330px;
		height: 450px;
		border: 1px solid black;
		background: #F0EEEE;
		/*position: absolute;
		top: 30px;
		left: 100px;*/
		position: relative;
		top: 30px;
		left: 100px;
	}
	#in{
		position: absolute;
		top: 490px;
		left: 100px;
		margin-top: 0;
	}	
	img,input{
		vertical-align:middle;
	}
	#text{
		height: 25px;
	}