@import url(../css/section.css);
@import url(../960-Grid-System-master/code/css/reset.css);
@import url(../960-Grid-System-master/code/css/960.css);
@import url(../960-Grid-System-master/code/css/text.css);

nav{
			position: relative;
			top: 0;
			left: 0;
			z-index:999;
			width: 100%; 
			height: 60px;
			font-size: 15px;
			background: white;

		}
		nav ul{
			width: 600px;
			height: 10px;
			margin: 0 auto;
			padding-top: 10px;
		}
		nav ul li {
			/*float: left;*/
			list-style: none;
			
		}
		nav a{
			display: block;
			width: 80px;
			height: 35px;
			color: black;
			line-height: 35px;
			margin: 5px 10px;
			text-align: center;
			text-decoration:none;
			font-weight: bold;
			font-family: "微软雅黑";
			font-size: 16px;
		}
		nav a:hover{
			text-decoration: none;
			background:white;
			color:#2C67CE; 
			transition:  color .10s linear;
		}
	#logo{
      position: absolute;
      top: 15px;
      left: 10%;
      display: block;
      width: 70px;
      height: 40px;
    }
    #signin{
 		position: absolute;
 		top: 10px;
 		right: 150px;
    	display: inline-block;
    	width: 80px;
    	height: 35px;
    	line-height: 35px;
    	color: #fff;
    	border-radius: 5px;
    	background: #256EEE;
    	font-family: "微软雅黑"
    }
    #signin:hover{
    	opacity: 0.9;
    	transition:opacity .10s linear;
    }
    #signup{
 		position: absolute;
 		top: 10px;
 		right: 60px;
    	display: inline-block;
    	width: 80px;
    	height: 35px;
    	line-height: 35px;
    	color: #fff;
    	border-radius: 5px;
    	background: #EE25BB;
    	font-family: "微软雅黑"
    }
    #signup:hover{
    	opacity: 0.9;
    	transition:opacity .10s linear;
    } 
    .sc{
    	position: absolute;
    	top: 15px;
    	right: 250px;
    	width: 205px;
    	height: 40px;
    }
    .search{
    	width: 200px;
    	height: 35px;
    	display: inline-block;
    	border-radius: 5px;
    	border: 1px solid #D2CCCC;
    	padding-left: 5px;
    	outline: none;
    }
    .search:focus{outline: none;}
    .searchIcon{
    	list-style-image: url(http://i4.buimg.com/1949/7d74f64bbfb5d963.png);
    	position: absolute;
    	top: 10px;
    	right: 0;
		cursor: pointer;
    }
    .searchIcon:hover{
    	opacity: 0.8;
    }