*{
  padding: 0;
  margin: 0;
}
body,html{
  font-family: "微软雅黑";
}
   #main{
        width: 910px;
        margin: 0 auto;
        padding-top: 60px;
      }
 
    #slidorion{
      position: absolute;
      margin: 100px auto;
    }
 .container {
  margin: 30px auto;
  width: 910px;
  height: 610px;
  margin-bottom: 50px;
  box-shadow:0 5px 15px black;
 }
 .cont_main{
  width: 100%;
  height: 100%;
 }
 .head{
  width: 910px;
  height: 50px;
  position: relative;
  border-bottom: none;
    
 }
 .guide{
  width: 100px;
  height: 50px;
  line-height: 50px;
  /*background: blue;*/
  text-align: center;
  font-size: 1.5em;
  font-weight: bolder;
  background: #9F9393;
  opacity: 0.9;
  position:relative;  
 }
 .guide:hover{
  opacity: 1;
 }
 .guide:before{
  width:0px;  
  height:0px;  
  border: 10px transparent solid ;  
  border-left-color: #9F9393;  
  position:absolute;  
  bottom: 15px;  
  left:100%;  
  content:""  
 }
.seemore,.seemore:visited{
  position: absolute;
  right: 30px;
  top: 15px;
  color: black;
}
.seemore:hover{
  color: gray;
}
 
 .video{
  position: relative;
   float: left; 
   width: 198px;
   height: 260px;
   margin: 13px 13px 0 13px;
 }
 .mask{
  width: 198px;
  height: 260px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(179,176,176,0.5);
  border-radius: 5px;
  text-align: left;
  transition: all 0.5s ease;
  filter: alpha(opacity=0);
  opacity: 0;
  transform: scale(0.3);
  }
  .mask h3,p,a{
    filter: alpha(opacity=0);
    opacity: 0;transform: scale(0);}
  .mask h3{
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center;
    width: 150px; border-bottom: 1px solid black;
    margin-bottom: 10px;
  }
  .mask p{
    overflow: hidden;
    text-indent: 20px;
    width: 198px;
    height: 140px;
  }
  .mask a{
    position: relative;
    display: block;
    width: 80px;
    height: 40px;
    font-weight: bold;
    background: black;
    color: #fff;
    text-align: center;
    line-height: 40px;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 5px;
    text-decoration: none;
  }
 .video img{
 border-radius: 5px;
  width: 198px;
  height: 260px;
  transform: scaleY(1);
  transition: all 0.7s ease-in-out;
 }
 /*图片缩放效果*/
 .video:hover img{
  transform: scale(0.1);
  filter: alpha(opacity=0);
  opacity: 0;
 }
 .video:hover span{
  transform: scale(0.1);
  filter: alpha(opacity=0);
  opacity: 0;
}
 .video:hover .mask{
  transform: scale(1);
  filter: alpha(opacity=100);
  opacity: 1;
 }
 .video:hover h3,p,a{
  transform: scale(1);
  filter: alpha(opacity=100);
  opacity: 1;
 }
.video a:hover{opacity: 0.8;}


.quality{
  position:absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 20px;
  background: #FED700; 
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  font-weight: bold;
  transform: scaleY(1);
  transition: all 0.7s ease-in-out;
  z-index: 10;
 }
 .videoName{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 200px;
    height:52px;
    line-height: 52px;
    background: url(https://cdn.gocdn.online/images/mask-title.png) top repeat-x;
    z-index: 10;
    border-radius: 0 0 5px 5px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: "微软雅黑";
    letter-spacing: 1px;
 }
.tv{
  position:absolute;
  right: 8px;
  top: 8px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: #2B85F5; 
  opacity: 0.8;
  text-align: center;
  border-radius: 100%;
  font-weight: bold;
  font-size: 16px;
  color: white;
   transform: scaleY(1);
  transition: all 0.7s ease-in-out;
  z-index: 10;
 }
